.app {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.bubbles {
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    position: fixed;
}

.bottomsheet {
    position: fixed;
}

.dabba {
    position: fixed;
    top: -10%;
    animation: fly 20s linear;
}

@keyframes fly {
    0% {
        top: 101%;
    }
    100% {
        top: -10%;
    }
}

.btsheet {
    padding: 12px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    mix-blend-mode: screen;
}

.btsheet li {
    display: flex;
    flex-direction: column;
}

.messemo {
    display: block;
    flex-direction: row;
    align-items: center;
}

.messemo li {
    display: inline-block;
    margin: 12px;
}