.app {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.bubbles {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: fixed;
}

.bottomsheet {
    position: fixed;
}

.dabba {
    position: fixed;
    top: -10%;
    animation: fly 20s linear;
}

@keyframes fly {
    0% {
        top: 101%;
    }
    100% {
        top: -10%;
    }
}