.app {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.bubbles {
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    position: fixed;
}

.bottomsheet {
    position: fixed;
}

.dabba {
    position: fixed;
    top: -10%;
    animation: fly 20s linear;
}

@keyframes fly {
    0% {
        top: 101%;
    }
    100% {
        top: -10%;
    }
}

.btsheet {
    padding: 12px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    width: 100vw;
}

.btsheet li {
    display: block;
}

.messemo {
    display: block;
    flex-direction: row;
    align-items: center;
    padding-left: 0 !important;
}

.messemo li {
    display: inline-block;
    margin: 0.5em;
}

.messemo li:nth-child(1) {
    margin-right: 0.5em !important;
    margin-left: 0 !important;
}

.messemo li:nth-last-child(1) {
    margin-left: 0.5em !important;
    margin-right: 0 !important;
}

.hehaoo div {
    position: relative;
}

.crdd {
    display: block;
    max-width: 24em;
    margin: 12px;
}

.bada {
    transform: scale3d(1.2, 1.2, 1.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 50%;
}

.chota {}